#scene {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border:2px solid black;
}

.sidebar, .info, .actions, .options {
  display: flex;
  flex-direction: column;
}

p {
  margin: 2px;
}

button {
  display: block;
  width: fit-content;
  margin-bottom: 0.5rem;
}

